html, body{
     overflow-x: hidden;
     scroll-behavior: smooth;
}
 body{
    /*max-width:1600px;
    */
     margin:0 auto! important;
     float: none !important;
     font-size:14px;
}
 .cusbox{
     margin:5px 5px;
     height:200px;
     align-content: center;
     display: flex 
}
 .cusboxer{
     max-width:1000px;
     width:100%;
}
 .c-2 .cuscontent .h2{
     color:red;
}
 .c-1 .cuscontent h2{
     color:white;
}
 .cuscontent{
     margin:auto 25px;
}
 .cuscontent p{
     font-size: 1.6rem;
}
 .c-1{
     background:red;
}
 .c-2{
     background: transparent;
}
 .cus{
     padding:2% 2%;
     transition:1s;
     margin:1% 7%;
     width:100%;
}
 .warn{
     font-size:1.5rem;
     color:red;
     padding: 4% 0 0 0;
}
 p:empty {
     display: none;
}
 .succ{
     font-size:1.5rem;
     color:green;
     padding: 4% 0 0 0;
}
 .bg{
     background-image: url(../images/backgroundimages/bg.png);
     background-size: 100% !important;
     background-repeat: repeat;
    /*max-width: 1600px;
    */
}
 .complete{
    /*max-width:1600px;
    */
     padding: 0;
     margin: 0;
}
 main{
     margin:0;
}
 header{
     z-index:10;
     position:relative;
     width:100%;
    /*max-width:1600px;
    */
}
 .row:before, .row:after {
     display: inline-block! important;
}
 .head-bar{
     width:100%;
     align-items: center;
     background: transparent;
     transition: 1s;
}
 .head-bar .row, .head-bar .row .col-6{
     align-items: center;
     padding: 0;
}
 .head-bar .row .left{
     text-align: left;
}
 .sticky{
     position: fixed;
     top: 0;
     background: white;
     padding: 0px;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
     transition: 1s;
     z-index: 9;
}
 .logo-main{
     height:80px;
     display: block;
     padding: 0%;
}
 .logo-sec{
     padding-left:0px;
}
 .head-bar.icon{
     text-align: left;
     padding: 0! important;
     margin-left:-5%;
}
 .home-part-one{
     width:100%;
     height:auto;
     align-items: center;
     transition: 1s;
}
 .home-part-one .row{
     display: flex;
}
 .home-part-one .row .search form{
     padding:2% 8% 2% 0;
     margin:5% 0;
     transition: 1s;
}
 .home-part-one .row .search form div{
     align-items: center;
}
 .home-part-one .row .col-6{
     padding-right: 0;
     padding-left: 0;
}
 .main-name{
     padding: 0;
}
 .main-name span{
     font-size: 20px;
     padding:0;
}
 .main-page-phrase{
     font-size: 2.5rem;
     text-align: left;
     padding:15px 15px;
}
 .main-page-phrase-mobile{
     font-size: 30px;
     text-align: left;
     padding:inherit;
     padding:15px 15px;
}
 .red{
     color: #FF0000 !important;
}
 .black{
     text-decoration: none;
     color:black;
     transition: 0.5s;
}
 .black:hover{
     color:red;
     transition: 0.5s;
}
 .search{
     align-items: center;
     padding:50px 0;
}
 .form-item{
     width:400px;
     margin:10px 0 0 10px;
     padding:10px 30px;
     background: white;
     border:none;
     border-radius: 50px;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
     align-items: center;
     display: flex;
}
 .form-item span{
     font-size:16px;
     float: left;
     align-self:center;
}
 .form-item .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
     width: 100%;
}
 .form-item .bootstrap-select .btn:focus, .form-item .bootstrap-select .btn:hover, .form-item .bootstrap-select .btn:active, .form-item .bootstrap-select .btn.active {
     background-color:transparent;
     outline: none!important;
     outline: none!important;
     outline-offset: -2px;
}
 .home-form input, .home-form .bootstrap-select {
     width: 320px;
     height: 50px;
     font-size:16px;
     padding: 0 0 0 35px;
     border-radius: 30px;
     border: 1px solid #ccc;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
     padding-right: 15px;
}
 .home-form .bootstrap-select .dropdown-toggle{
     width: 100%;
     height: 50px;
     font-size:16px;
     padding: 0 0 0 50px;
     border-radius: 30px;
     background: transparent;
     padding-left: 0;
     border-left: 0;
     box-shadow: none!important;
}
 .home-form .bootstrap-select.btn-group .dropdown-menu input{
     padding-left:10px;
}
 .home-form .bootstrap-select.btn-group .dropdown-menu li a {
     cursor: pointer;
     font-size: 16px;
     padding: 10px;
}
 .home-form .bootstrap-select .dropdown-toggle::after {
     display: none;
     width: 0;
     height: 0;
     margin-left: .255em;
     vertical-align: .255em;
     content: "";
     border-top: .3em solid;
     border-right: .3em solid transparent;
     border-bottom: 0;
     border-left: .3em solid transparent;
}
 .home-form input:hover, .home-form input:active, .home-form input:focus, .home-form .bootstrap-select .dropdown-toggle:hover, .home-form .bootstrap-select .dropdown-toggle:active, .home-form .bootstrap-select .dropdown-toggle:focus{
     outline:none!important;
     background:transparent!important;
}
 .home-form .input-group {
     margin: 20px auto;
     position: relative;
     display: table;
}
 .home-form .input-group .fa {
     position: absolute;
     margin: 8px;
     font-size: 12px!important;
     color: red;
}
 @media(max-width:480px){
     .home-form input, .home-form .bootstrap-select {
         width: 280px;
    }
     .home-form .input-group .fa {
         margin: 12px 8px;
    }
}
 .form-item .bootstrap-select .btn.active.focus, .form-item .bootstrap-select .btn.active:focus, .form-item .bootstrap-select .btn.active:hover, .form-item .bootstrap-select .btn:active.focus, .form-item .bootstrap-select .btn:active:focus, .form-item .bootstrap-select .btn:active:hover, .form-item .bootstrap-select .btn.focus, .form-item .bootstrap-select .btn:focus, .form-item .bootstrap-select .btn:hover {
     color: #333;
     background-color: transparent;
     border-color:none;
}
 .form-item input, .form-item select, .form-item .selectpicker{
     width:75%;
     border:none;
     outline:none;
     color:#9F9898;
     font-size:16px;
     margin:0 15px;
}
 .form-item-submit{
     width:400px;
     margin:10px;
     background: transparent;
     border:none;
     border-radius: 50px;
     text-align: left;
}
 .home-part-one .search{
     padding:0 15px;
}
 .form-item-submit input[type=submit]{
     background: red;
     color:white;
     padding: 10px 30px;
     border-radius: 50px;
     font-size:16px;
     border:none;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
}
 .homesubmit.form-item-submit{
     margin-left: 0;
     margin-top: 25px;
}
 .homesubmit.form-item-submit input[type=submit]{
     width: 320px;
     height: 50px;
}
 .search-opp-display img{
     object-fit:cover;
     width:800px;
     bottom:0;
     padding-top:45px;
     position:relative;
     overflow:visible;
}
 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: red;
     opacity: 0.8;
    /* Firefox */
}
 .most-searched-section ul{
     width: 100%;
     margin: auto;
     padding: none;
     margin: 10% 0;
     display: inline;
}
 .most-searched-section ul li{
     width:95%;
     padding: 4% 0;
     margin: 2% 0;
}
 .most-searched-section{
     padding: 10% 0;
     display: inline-block;
}
 .home-part-three{
     width:100%;
     margin: 0 0 0 0 ;
}
 .coupons{
     padding: 0;
     margin: 0;
     text-align: center;
}
 .coupons h2{
     width:100%;
     font-size:24px;
     text-align: left;
     margin:0;
}
 .coupons h2 span{
     width:100%;
     font-size:26px;
}
 .coupons ul{
     width:100%;
     padding: 0;
     display: block;
     margin: 0;
}
 .coupons ul li{
     width: 29%;
     margin: 2% 4% 2% 0;
     float: left;
     height: auto;
     background: white;
     box-shadow: rgb(0 0 0 / 18%) 0px 3px 15px !important;
     border: none;
     border-radius: 5px;
     list-style-type: none;
     padding: 5%;
     display: inline;
}
 .home-part-two{
     width:100%;
     margin: 0 0 0 0 ;
}
 .most-searched-section{
     padding: 15px 15px;
     width: 100%;
}
 .most-searched-section h2{
     width:100%;
     font-size:22px;
}
 .most-searched-section h2 .search-icon{
     padding: 0 20px;
     font-size:20px;
}
 .most-searched-section ul{
     width:400px;
     padding:auto;
     text-align: center;
}
 .most-searched-section ul li{
     width:100%;
     border:none;
     color:red;
     padding:15px 30px;
     margin:15px 0;
     font-size:16px;
     border-radius:50px;
     cursor: pointer;
     list-style-type: none;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 15px !important;
     background: white;
     transition:1s;
}
 .most-searched-section ul li:hover{
     background: red;
     color: white;
     transition:0.5s;
}
 .in-area-most-popular-search{
     padding: 30px 0;
}
 .iamps-detail{
     padding: 5% 5%;
}
 .iamps-detail h2{
     font-size:28px;
     padding-bottom:5%;
     margin: 0;
}
 .iamps-detail p{
     font-size:16px;
     margin: 0;
}
 .dline{
     background: white;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
     border-radius:5px;
     align-content: center;
     display: flex;
     padding:50px 0;
     margin: 5% auto;
     max-width:500px;
     width:100%;
     transition: 1s;
}
 .dline form{
     margin:auto;
     text-align: center;
}
 .dline form input{
     width:80%;
     margin:2% 0;
     font-size: 1.5rem;
     padding:10px 15px;
     color:black;
     border:0;
     border-bottom:2px solid #707070;
}
 ::placeholder {
     color: grey;
}
 .dline form textarea{
     width:80%;
     margin:2% 0;
     font-size: 1.5rem;
     padding:10px 15px;
     color:black;
     border:0;
     border-bottom:2px solid #707070;
}
 .dline form input[type=submit]{
     margin:10px 0;
     width:auto;
     padding:10px 20px;
     font-size:1.5rem;
     color:white;
     background:red;
     border:0;
     border-radius:50px;
     transition: 0.8s;
}
 .iamps-item{
     padding:2%;
     padding-left: 3%! important;
     padding-right: 3%! important;
     margin:30px 0 0 0 ;
     background:white;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
     border: none;
     border-radius:2%;
}
 .final-but{
     margin:10px 0;
     padding:10px 20px;
     font-size:1.5rem;
     color:white !important;
     background:red;
     border:0;
     border-radius:50px;
     transition: 0.8s;
}
 .final-but:hover{
     box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 6px !important;
     color:#fff !important;
     background: #000;
     transition: 0.5s;
}
 .iamps-more{
     font-size:18px;
     text-align: right;
}
 .dash-form-item-full .dash-radio input[type="radio"]{
     display: inline;
     width: 20px;
}
 .dash-form-item-full .dash-radio .radio-item{
     display:inline-block;
}
 .foot{
     width:100%;
     margin:0;
     padding: 50px 0 10px;
     background: #3F3F3F;
     background-image: url(../images/red-box.png);
     background-repeat: no-repeat;
     background-position: right bottom;
     color:white;
     z-index:999;
     text-align: left;
}
 .social-one{
     margin-top:20px;
     margin-bottom:20px;
}
 .social-one a{
     font-size: 18px!important;
     background: red;
     padding: 10px;
     width: 35px;
     text-align: center;
}
 .fa{
     padding:2%;
     font-size:30px! important;
     color:white;
     transition:0.5s;
}
 .fa:hover{
     color: red;
     text-decoration: none;
     transition: 0.5s;
}
 a{
     text-decoration: none! important;
     color:none;
}
 .contact-item{
     margin:0 -15px;
     padding:2% 0;
     border-bottom: 1px solid white;
}
 a{
     color:inherit! important;
}
 .contact-item h3{
     font-size:2rem;
     font-weight: 600;
}
 .contact-item p{
     font-size: 1.4rem;
     padding:3%;
     padding-left: 0;
}
 .subscription-form{
     align-items: center;
     padding:2%;
}
 .subscription-form-item-sub{
     background: transparent;
     border-radius: 50px;
    /* width:80%;
     */
     text-align: center! important;
    /* margin:3%;
     */
}
 .subscription-form-item{
     background: white;
     border: none;
     border-radius: 50px;
     color:red;
    /* width:80%;
     */
    /* margin:3%;
     */
     margin-bottom: 10px;
     display: flex;
     padding: 3%;
}
 .close-button{
     right: 10%;
     top:5%;
     font-size: 2rem;
     font-weight: bold;
     position: fixed;
     color:white;
     cursor: pointer;
}
 .subscription-form-item input[type=email]{
     border:none;
     outline: none;
     width:75%;
     color:red;
     align-items: center;
     display: inline;
     font-size:1.4rem;
     margin:0 2%;
}
 .subscription-form-item-sub input[type=submit]{
     border:none;
     border-radius: 50px;
     outline: none;
     color:white;
     background: linear-gradient(45deg, black, #ff0000);
     box-shadow: 0 0 6px #ccc;
     border: 2px solid #fff;
     font-size:1.4rem;
    /* margin:0 2%;
     */
     padding: 4% 10%;
     display: block;
     width: 100%;
}
 .social-two{
     display: none;
}
 .social-two .two{
     font-size:20px! important;
}
 .copyright{
     padding:1% 1%;
     font-size: 1.6rem;
}
 .head-bar-nav ul li:hover{
     background: white;
     color:red;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 8px;
     border-radius:50px;
}
 .mobile-nav{
     background: red;
     width:100%;
     height:100%;
     top:0;
     left:0;
     display: none;
     position: fixed;
     z-index: 15! important;
}
 .icon{
     z-index: 12! important;
     cursor: pointer;
}
 .pp{
     width:100%;
     align-items: center;
     text-align: center;
}
 .pp .row{
     display:inline;
}
 .pp h1{
     font-size: 3rem;
}
 .pp p{
     font-size:1.8rem;
     text-align: left;
}
 .login-or-signup{
     text-align: center;
}
 .login-or-signup .form-box{
     width:100%;
     background: white;
     height: auto;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
     border:none;
     margin:0%;
     border-radius:10px;
     padding:5%;
     -webkit-transition: height 1s;
     -moz-transition: height 1s;
     transition: height 1s;
     transition-timing-function: ease-in;
     overflow: hidden;
}
 .form-box h2{
     font-size:2rem;
}
 .form-box .sactive{
     color:red;
     background: transparent;
     box-shadow: none;
     transition: color 1s;
     cursor: pointer;
}
 .form-box .in-active{
     color:black;
     transition: color 1s;
     cursor: pointer;
}
 .form-box .divider{
     color:#9F9898;
}
 .login form{
     margin: 2% 0 0 0 ;
}
 .login .form-item{
     background: transparent;
     width:90%;
     margin:5%;
     color:black;
     border:none;
     border-radius:0;
     box-shadow: rgba(0,0,0,0) 0 0 0! important;
     place-content:center;
     align-items: center;
}
 .login p{
     font-size: 1.8rem;
}
 .login .form-item .name{
     width: 34%! important;
}
 .login .form-item input, .login .form-item select{
     background: none;
     border:none;
     display: flex;
     border-bottom: 2px solid #9F9898;
}
 .login .form-item input[type=radio]{
     background: none;
     border:none;
     display: flex;
     width:15px;
     margin:0 0 0 2%;
     border-bottom: 2px solid #9F9898;
}
 .login .form-item input[type=radio]:checked:after{
     background-color: red;
}
 .login .form-item input[type=radio]:checked:before{
     background-color: white;
}
 .login .form-item label{
     font-size: 1.8rem;
     margin:0 2% 0 0 ;
     font-weight: 300px;
}
 .button-box{
     margin: 5% 0 0 0;
}
 .button-box button{
     font-size: 1.8rem;
     color:black;
     background: white;
     border: none;
     border-radius: 50px;
     margin: 1%;
     padding: 1% 4%;
     outline:none;
     cursor:pointer;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
}
 .login .form-item-submit{
     text-align: center;
     display: contents;
}
 button{
     outline: none! important;
}
 @media (max-width:545px){
     .login-or-signup .form-box{
         width:95%;
         margin:0 2.5%;
    }
     .login-or-signup .form-box .form-item{
         width:98%;
         margin:1%;
         padding: 10px 5px;
    }
}
 @media (max-width:768px){
     .logo-foot{
         width:50%! important;
    }
}
 @media (max-width:400px){
     .logo-foot{
         width:100%! important;
    }
}
 @media (max-width:768px){
     .in-area-most-popular-search{
         display:none;
    }
}
 @media (max-width:768px){
     .social-one{
         margin-top:20px;
    }
     .social-two{
         display:block 
    }
}
 @media (min-width:768px) and (max-width:992px){
     .iamps-detail h2{
         font-size:18px;
         padding-bottom:5%;
         margin: 0;
    }
     .iamps-detail p{
         font-size:10px;
         margin: 0;
    }
}
 @media (max-width:1200px) and (min-width:992px){
     .iamps-detail h2{
         font-size:20px;
         padding-bottom:5%;
         margin: 0;
    }
     .iamps-detail p{
         font-size:14px;
         margin: 0;
    }
}
 @media only screen and (min-width: 1440px) {
     .head-bar{
        /*padding-left: 80px !important;
         padding-right: 80px !important;
        */
         padding: 25px 0;
    }
     .head-bar-nav{
         width:100%;
    }
     .head-bar-nav ul{
         margin:0;
         align-items: right;
         float: right;
    }
     .head-bar-nav ul li{
         padding:7px 20px;
         margin:0 5px;
         font-size:1.7rem;
         font-weight:600;
         list-style-type: none;
    }
     .main-name{
         font-size: 28px;
    }
}
 @media only screen and (min-width: 960px) {
     .head-bar{
        /*padding-left: 65px !important;
         padding-right: 65px !important;
        */
         padding: 20px 0;
    }
     .head-bar-nav{
         width:100%;
    }
     .head-bar-nav ul{
         margin:0;
         align-items: right;
         float: right;
    }
     .head-bar-nav ul li{
         display:inline-block;
         padding:7px 20px;
         margin:0 5px;
         font-size:1.7rem;
         font-weight:600;
         list-style-type: none;
         clear: both;
         overflow: hidden;
         white-space: nowrap;
    }
     .head-bar-nav ul li a i{
         color:#000;
         font-size: 16px!important;
    }
     .head-bar-nav ul li:hover a i{
         color:#ff0000;
    }
     .main-name{
         font-size: 28px;
    }
     .head-bar .icon{
         display: none;
    }
}
 @media (max-width: 960px) and (min-width: 768px){
     .main-name span{
         display: none;
    }
     .head-bar .icon{
         display: none;
    }
     .head-bar{
         padding-left: 50px !important;
         padding-right: 50px !important;
         padding: 10px;
    }
     .head-bar-nav{
         width:100%;
    }
     .head-bar-nav ul{
         margin:0;
         align-items: right;
         float: right;
    }
     .head-bar-nav ul li{
         float: left;
         padding:7px 20px;
         margin:0 5px;
         font-size:1.7rem;
         font-weight:600;
         list-style-type: none;
    }
}
 @media only screen and (min-width: 768px){
     .search svg{
         position: relative;
    }
     .main-page-phrase-mobile{
         font-size: 24px;
         padding: 10px 0;
    }
}
 @media only screen and (max-width: 768px){
     .search svg{
         position: relative;
    }
     .head-bar .icon{
         display: none;
    }
     .main-page-phrase-mobile{
         font-size:25px;
    }
}
 @media (max-width: 768px) and (min-width: 450px){
     .mobile-nav-img{
         width:20%;
         margin:10% 0 5% 10%;
    }
     .mobile-nav ul{
         margin:5% 0 0 5% 
    }
     .mobile-nav ul li{
         list-style-type: none;
         color:white;
         font-size:2rem;
    }
}
 @media (max-width: 450px){
     .mobile-nav-img{
         width:30%;
         margin:20% 0 10% 10%;
    }
     .mobile-nav ul{
         margin:10% 0 0 5% 
    }
     .mobile-nav ul li{
         list-style-type: none;
         color:white;
         font-size:2rem;
    }
}
 @media (max-width: 768px) and (min-width: 365px){
     .head-bar{
         padding-left: 50px !important;
         padding-right: 50px !important;
         padding:10px 25px;
    }
     .head-bar .left{
         width:80% 
    }
     .head-bar .icon{
         width:20%;
         position:fixed;
         margin-left:-5%;
    }
     .head-bar-nav{
         display: none;
    }
     .main-name span{
         display: none;
    }
     .logo{
         padding: 0 10%;
    }
     .logo-main{
         height: 50px;
         text-align: center;
         padding:0 30%;
    }
     .logo-sec{
         padding: 0 30%;
    }
     .head-bar .icon{
         display: block;
    }
}
 @media (max-width: 365px){
     .head-bar{
         padding-left: 50px !important;
         padding-right: 50px !important;
         padding:10px 25px;
    }
     .head-bar .icon{
         width:20%;
         position:fixed;
         margin-left:-2%;
    }
     .head-bar .left{
         width:80%;
         position:fixed;
    }
     .head-bar .icon{
         width:10% 
    }
     .head-bar-nav{
         display: none;
    }
     .main-name span{
         display: none;
    }
     .main-name{
         font-size: 18px;
    }
     .head-bar .icon{
         display: block;
    }
}
 @media (max-width: 450px){
     .home-part-two{
         text-align: center;
    }
     .logo-main{
         height: 50px;
         padding: 0 30%;
         text-align: center;
    }
     .logo-sec{
         text-align: center;
    }
     .form-item-submit{
         width:90%;
         margin:5%;
    }
     .form-item{
         width:90%;
         margin: 5%;
    }
     .home-part-one .row .search form{
         padding:2% 4%;
         margin:5% 2%;
    }
     .head-bar .icon{
         width:10% 
    }
}
 @media (max-width: 960px){
     .main-page-phrase-mobile {
         display: block;
    }
}
 @media (max-width: 680px){
     .home-part-one .row .search form{
         padding:2% 8%;
         margin:5% 4%;
    }
}
 @media (max-width: 1200px) and (min-width: 992px){
     .search-opp-display img{
         width:600px;
         padding-left:40px;
    }
}
 @media (max-width: 991px){
     .search-opp-display{
         display: none;
    }
}
 @media (max-width: 992px){
     .empty{
         display: none;
    }
     .home-part-two{
         text-align: center;
    }
     .most-searched-section{
         padding: 10% 0;
         display: inline-block;
    }
     .most-searched-section ul{
         display: inline;
    }
}
 @media (max-width: 1200px){
     .home-part-two{
         text-align: center;
    }
     .most-searched-section h2, .coupons h2{
         font-size: 22px;
    }
     .coupons h2 span{
         font-size: 18px;
    }
     .most-searched-section h2 .search-icon {
         padding: 0 6px;
    }
     .most-searched-section ul{
         display: inline;
    }
     .coupons{
         text-align: left;
    }
     .coupons h2, .coupone ul{
         display: contents;
    }
     .empty{
         display: none;
    }
     .only-this{
         min-width: 100%! important;
    }
}
 @media (max-width: 768px){
     .coupons ul{
         width:100%;
         text-align: center;
         margin:2%;
    }
     .coupons{
         margin:10% 0;
         padding:5% 0;
    }
}
 .searchform form{
     width: 100%;
     margin:1% 0%;
     overflow:hidden;
}
 .searchform form .form-item{
     width:275px;
     float: left;
     margin: 10px 5px;
}
 .searchform form .form-item-submit{
     float: left;
     width:auto;
     margin: 10px 5px;
}
 .searched{
     padding:0! important;
    /*font-family: "Nirmala UI Semilight" !important;
    */
     font-size: 1.6rem;
}
 .map{
     width:100%;
     padding:10px;
     background-color: white;
     border-radius: 8px;
     height:840px;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 6px !important;
}
 .searchedbox{
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 6px !important;
     padding:4% 3%;
     border-radius: 10px;
     margin:2%;
}
 .but{
     color:white;
     background: red;
     padding: 8px 28px;
     margin:3% 2%;
     font-size: 14px;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
     border:none;
     border-radius: 50px;
}
 .searchedbox .busnam{
     font-size: 2.5rem;
     color:red;
     font-weight: bold;
}
 .searchedbox .rate{
     color: red;
     font-size:1.8rem;
     align-items: center;
     display: inline-flex;
     padding:10px 15px;
}
 .searchedbox .citname{
     font-size: 2.0;
     color:black;
     font-weight:500;
}
 .pre-loader{
     width:100%;
     height:100%;
     top:0;
     left:0;
     position:fixed;
     z-index:1500;
     background:red;
}
 .loder{
     width:100px;
     height:100px;
    top:50%;
    left:50%;
    position:absolute;
     -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
}
 .s-box{
     background: #fff;
     padding: 10px;
     margin-bottom: 30px;
     box-shadow: 0 0 6px #ccc;
}
 .s-box .s-img{
     height:200px;
     width:100%;
     position:relative;
}
 .s-box .s-img img{
     width:100%;
     height:200px;
     object-fit:contain;
}
 .s-box .s-img span{
     position: absolute;
     bottom: 0;
     left: 0;
     padding: 5px 20px;
     letter-spacing: .1em;
     background: #ff0000;
     font-size: 12px;
     color: #fff;
     text-transform: uppercase;
}
 .s-box .s-text{
     padding:10px;
}
 .s-box .s-text h4{
     font-size:20px;
}
 .s-box .s-text p{
     font-size:14px;
     margin-bottom:0;
}
 .s-box .s-text .s-btn{
     margin-top:20px;
}
 .s-box .s-text .s-btn .btn {
     background: red;
     color: white!important;
     padding: 10px 20px;
     border-radius: 50px;
     font-size: 14px;
     width:49%;
     border: none;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
}
 .s-box .s-text .s-btn .btn-1 {
     background: #232323;
     color: white!important;
     padding: 10px 20px;
     border-radius: 50px;
     font-size: 14px;
     width:49%;
     border: none;
     box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 6px !important;
}
 .s-box .s-text .s-btn .btn i, .s-box .s-text .s-btn .btn-1 i{
     font-size:14px!important;
}
 .selectsearch .selection .select2-selection--single{
     width:320px;
     height: 50px;
     font-size: 16px;
     padding: 0 0 0 28px;
     border-radius: 30px;
     border: 1px solid #ccc;
     box-shadow: rgb(0 0 0 / 18%) 0px 3px 6px !important;
     outline: none;
}
 .selectsearch .select2-container--default .select2-selection--single .select2-selection__rendered{
     line-height: 50px;
}
 .selectsearch .select2-container--default .select2-selection--single .select2-selection__arrow{
     display: none;
}
 .selectsearch.home-form .input-group .fa{
     z-index: 9;
}
 .select2-dropdown--below, .select2-dropdown--above{
     width: 320px !important;
}
 #signup .form-item i{
     color: red;
     font-size: 16px !important;
}
 #login .form-item i{
     color: red;
     font-size: 16px !important;
}
 .almem{
     font-size: 15px !important;
     text-align: right;
     margin-right: 78px;
     margin-bottom: 20px;
}
 @media(max-width:991px){
     .most-searched-section{
         display: block;
    }
}
 @media (max-width: 768px){
     .in-area-most-popular-search {
         display: block;
    }
}
 @media(max-width:600px){
     .selectsearch .selection .select2-selection--single{
         width: 355px;
    }
     .select2-dropdown--below, .select2-dropdown--above{
         width: 355px !important;
    }
     .home-form input, .home-form .bootstrap-select{
         width: 355px;
    }
     .subscription-form{
         padding: 10px 0;
    }
     .almem{
         margin: 0 0 20px;
         text-align: center;
    }
}
 @media(max-width: 480px){
     .selectsearch .selection .select2-selection--single{
         width: 275px;
    }
     .select2-dropdown--below, .select2-dropdown--above{
         width: 275px !important;
    }
     .home-form input, .home-form .bootstrap-select{
         width: 275px;
    }
     .iamps-detail h2{
         font-size: 16px;
    }
     .iamps-detail p{
         font-size: 12px;
    }
     .main-page-phrase-mobile {
         font-size: 18px;
         padding-right: 0;
    }
}
 .imgpadd{
     padding: 15px;
}
 .profile-info .card{
     margin-bottom: 15px;
}
 .alert-red{
     display: none;
     color: red;
     margin-left: 0;
}
 .home-part-one .row .search .formFieldBox{
     margin-bottom: 20px;
}
 .home-form.formFieldBox .input-group{
     margin:0;
}
 .search .formFieldBox label{
     font-size: 14px;
     text-transform: capitalize;
     font-weight: 500;
     margin-left: 10px;
     margin-bottom: 8px;
}
 .formFieldBox select{
     width: 100%;
     height: 50px !important;
     font-size: 16px;
     padding: 0 0 0 28px;
     border-radius: 30px;
     border: 1px solid #ccc;
     box-shadow: rgb(0 0 0 / 18%) 0px 3px 6px !important;
     outline: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     position: relative;
}
 .selectarrow{
     position: relative;
     width: 320px;
}
 .selectarrow:after{
     position: absolute;
     top: 13px;
     right: 12px;
     content: '\f107';
     font-size: 18px;
     z-index: 9;
     font-family: 'fontawesome';
}
 .browsfle{
     font-size: 13px;
     border: 1px solid #ccc;
     padding: 5px 15px;
     margin: 5px 0;
     display: block;
     border-radius: 15px;
}
 .btnlist .btn{
     font-size: 12px;
     background: #ffffff;
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: 1px;
     padding: 5px 15px;
     border-radius: 30px;
     border: 1px solid #d0d0d0;
}
 .formbox{
     margin: 40px 0 100px 0;
     padding: 30px;
     border: 1px solid #e8e8e8;
}
 .review_section .btnmodal{
     min-width: 90px;
     min-height: 30px;
     background: red;
     color: #fff;
     border: 1px solid red;
     padding: 0;
     font-size: 12px;
}
 .sortpnl{
     text-align: right;
}
 @media(max-width: 480px){
     .sortpnl{
         text-align: left;
    }
     .review_section .btnmodal{
         min-width: auto;
         padding-left: 15px;
         padding-right: 15px;
    }
}
 .reviewPnl .blog-card .description h1{
     font-size: 13px;
}
 .smallfornt{
     font-size: 11px;
     color: #a5a5a5;
     margin-left: 8px;
}
 .businessRating span{
     color: #bbb;
     padding: 6px 1px;
     font-size: 13px !important;
}
 .businessRating span.checked{
     color: #ffa500;
}
 .msgBox{
     display: none;
     margin: 15px 0 0;
     width: 100%;
}
 .msgBox .btn{
     font-size: 10px;
     padding: 0 6px;
     min-height: 22px;
     border-radius: 2px;
     line-height: 22px;
}
 .frontbtns li:nth-child(1){
     background: #067655;
     color: #fff;
}
 .frontbtns li:nth-child(2){
     background: #919a02;
     color: #fff;
}
 .frontbtns li:nth-child(3){
     background: #a3080c;
     color: #fff;
}
 .frontbtns li:nth-child(4){
     background: #0c4ba9;
     color: #fff;
}
 .frontbtns li:nth-child(5){
     background: #91059a;
     color: #fff;
}
 .frontbtns li:nth-child(6){
     background: #b9bb23;
     color: #fff;
}
/************/
 .tooltipicon {
     position: relative;
}
 .tooltipicon .tooltiptext {
     visibility: hidden;
     min-width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     border-radius: 4px;
     padding: 4px 5px 7px;
     position: absolute;
     z-index: 1;
     line-height: 15px;
     font-size: 13px;
}
 .tooltipicon:hover .tooltiptext {
     visibility: visible;
}
 .tooltiptext:after{
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 5px 5px 5px 0;
     border-color: transparent #000000 transparent transparent;
     position: absolute;
     left: -5px;
     content: '';
     top: 4px;
}
 .contactinfo{
     margin-top: 12px;
}
 .contactinfo i{
     color: #403c38;
     font-size: 14px !important;
     padding: 0;
}
 .contactfont{
     font-size: 25px;
     font-weight: 800;
     color: red;
     letter-spacing: 0;
}
 .capstext{
     color:red;
     display: none;
}
 .dropdownmenu{
     display: none;
     position: absolute;
     z-index: 9;
     min-width: 170px;
     top: 40px;
     left: 0;
     padding: 0;
}
 .dorpmenu{
     position: relative;
     overflow: visible !important;
     vertical-align: top;
}
 .dorpmenu:hover .dropdownmenu{
     display: block;
}
 .head-bar-nav .dropdownmenu li{
     display: block;
     padding: 0;
}
 .head-bar-nav .dropdownmenu li a{
     display: block;
     border-radius: 0px;
     padding: 6px 15px;
     background: #fff;
     font-size: 14px;
}
 .head-bar-nav .dorpmenu .dropdownmenu:hover li {
     border-radius: 0 
}
 .cusbox.c-1{
     color: #fff;
}
 .text-danger{
     color: #ff0000 !important;
}
 .counterwidth{
     width: 100px;
}
 .subscription-form .subscription-form-item img{
     width: 15px;
     height: 12px;
     margin-top: 5px;
}
 .dataTables_length{
     text-align: left;
}
 .btn-danger {
     color: #fff !important;
     background-color: #dc3545;
     border-color: #dc3545;
}
 @media(min-width: 1200px){
     .coupon-searched{
         margin-top: -130px;
    }
}
 .reachbox{
     margin: 0;
     margin-bottom: 30px;
     max-width: 100%;
}
/*---------text area--------*/
 .text-area-h{
     height: 190px;
}
 @media(max-width: 540px){
     .text-area-h{
         height: auto !important;
    }
}
